<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <a class="btn btn-light btn-lg" href="/signup" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

